<article class="post">
  <h1>{{post.title}}</h1>
  <time datetime="{{formatDate post.created_at}}">{{formatDate post.created_at}}</time>
  <div class="content">
    {{{post.content}}}
  </div>
</article>