<div class="RedboxInfo">
    This user is a Demo account and cannot access all pages. You have read-only access to main pages. Visit the
    <a class="links" href="user/settings">user/settings</a>
    to check page access permissions.
</div>
<style>
    .RedboxInfo-close-btn {
        font-size: 25px;
        cursor: pointer; 
        position: absolute;
        top: 0;
        right: 10px;
        padding: 5px;
        transition: color 0.3s;
    }
    .RedboxInfo-close-btn:hover {
        color: #fff;
    }
    .RedboxInfo {
        font-family: 'Open Sans', sans-serif;
        background-color: rgba(248, 215, 218, 0.8);
        color: #721c24;
        padding: 10px 25px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        z-index: 900;
        font-weight: bold;
        position: relative;
        width: 98%;
        margin: 0 auto;
    }
</style>
